/checkpoints/caption.pt
/deployment/
/.ipynb_checkpoints/
/runs/
/venv/
/runs/
/Data/
/utils/
/static/
/tests/
/export.py
/make_preds.py
/notebook.ipynb
/save_vocabulary.py
/train_net.py


/checkpoints/caption.pt
